In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_csv("DataWeek9.csv", delimiter=",")
X = data[['FISCAL YEAR']].values
y= data[['ALL FUNDS']].values
data.head()

,PUBLICATION DATE,FISCAL YEAR,AGENCY CODE,AGENCY NAME,ALL FUNDS,CITY FUND,REMARK
0,20171130,2011,991,General Reserve,0,0,NaN
1,20171130,2002,858,D.O.I.T.T.,170951,53506,NaN
2,20171130,2008,817,Dept of Mental Health,0,0,NaN
3,20171130,2009,991,General Reserve,0,0,NaN
4,20171130,2008,819,Health + Hospitals,256837,128181,NaN

In [2]:
import numpy as np
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X, y)
print(reg.score(X, y))
print(reg.coef_)
print(reg.intercept_)
#reg.predict(np.array([[3, 5]]))

0.0013910370735779054
[[56397.15702087]]
[-1.11971172e+08]

In [3]:
import operator

import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import PolynomialFeatures

polynomial_features= PolynomialFeatures(degree=80)
x_poly = polynomial_features.fit_transform(X)

model = LinearRegression()
model.fit(x_poly, y)
y_poly_pred = model.predict(x_poly)

rmse = np.sqrt(mean_squared_error(y,y_poly_pred))
r2 = r2_score(y,y_poly_pred)
print(rmse)
print(r2)

6965654.982254881
0.001405278813092048

In [4]:
from sklearn.linear_model import LogisticRegression

polynomial_features= PolynomialFeatures(degree=80)
x_poly = polynomial_features.fit_transform(X)

model = LogisticRegression()
model.fit(x_poly, y)
y_poly_pred = model.predict(x_poly)

rmse = np.sqrt(mean_squared_error(y,y_poly_pred))
r2 = r2_score(y,y_poly_pred)
print(rmse)
print(r2)

C:\Users\rakes\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

7965834.577058569
-0.30595410149387003

C:\Users\rakes\AppData\Roaming\Python\Python39\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL_TERMINATION_IN_LNSRCH.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(